# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Python packaging
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Nuitka / Build artifacts
dist/
build/build_info.py
*.build/
*.dist/
*.onefile-build/
*.spec
*.bin
*.exe

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# App config
config.json