# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Nuitka / PyInstaller build artifacts
dist/
*.build/
*.dist/
*.onefile-build/
*.spec
*.bin
*.exe

# IDE/Editor config
.vscode/
.idea/

# Ignore app config
config.json